.App {
  width: 80%;
  margin: 5rem auto;
}

.all-the-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  padding: 2rem;

  .singleProduct {
    display: flex;
    flex-direction: column;

    .image,
    .content {
      align-self: center;
      img {
        height: 10rem;
        width: 10rem;
      }
    }
  }
}
